fastapi
uvicorn
pydantic
python-multipart
python-dotenv
streamlit
requests
groq
langchain
langchain-core
langchain-community
langchain-groq
langchain-huggingface
langchain-chroma
chromadb
sentence-transformers
faiss-cpu
scikit-learn
farasa
pyarabic
arabert
ekphrasis
pandas
numpy
tqdm
pymupdf
PyPDF2
watchdog
tiktoken
typing-extensions
protobuf
rank-bm25
pysqlite3-binary
psycopg2-binary